<ion-view view-title="New food op">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-android-close"
                    ui-sref="map">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="submitForm()">
                Submit
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false" id="mainContainer">
        <div id="formContainer">
            <form class="list" id="addForm" name="addForm">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Describe your food op</span>
                    <textarea   name="notes"
                                ng-model="form.notes"
                                placeholder="Describe your food op"
                                rows="1">
                    </textarea>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">When is it available?</span>
                    <input  type="text"
                            name="availability"
                            ng-model="form.availability"
                            placeholder="When is it available?"
                    >
                </label>
                <div class="item item-input item-floating-label">
                    <span class="input-label">Where is it?</span>
                    <div class="flex">
                        <input  type="search"
                                g-places-autocomplete
                                ng-model="form.place"
                                name="place"
                                placeholder="Where is it?"
                                class="flex-item"
                        >
                        <!-- <button class="flex-item button button-small button-icon icon ion-pinpoint"
                                ng-click="centerOnMe()"
                                ng-show="mapReady">
                        </button> -->
                    </div>
                </div>
            </form>
        </div>

        <div id="mapContainer">
            <div id="centerMarker"></div>
            <ui-gmap-google-map
                 center="map.center"
                 control="map.control"
                 events="map.events"
                 options="map.options"
                 zoom="map.zoom">
                <ui-gmap-marker
                    coords="map.position.coords"
                    idkey="'map.position.id'"
                    icon="map.position.icon"
                    options="map.position.options">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </ion-content>
</ion-view>
