<ion-view view-title="Report">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear icon ion-map" ui-sref="map" ng-show="noGoingBack"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear icon ion-share"
                    ng-click="popover.show($event)">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="true" id="mainContainer">
        <div id="formContainer">
            <form class="list" id="addForm" name="addForm">
                <label class="item item-input item-floating-label">
                    <span class="input-label">What food was here?</span>
                    <textarea   name="contents"
                                ng-model="form.contents"
                                placeholder="What food was here?"
                                rows="1"
                                disabled>
                    </textarea>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">When is a safe time to dive here?</span>
                    <input  type="text"
                            name="availability"
                            ng-model="form.availability"
                            placeholder="When is a safe time to dive here?"
                            disabled
                    >
                </label>
                <ion-toggle ng-model="form.smell" toggle-class="toggle-calm"
                            ng-disabled="true">
                    Did it smell very bad?
                </ion-toggle>
                <ion-toggle ng-model="form.cleanFood" toggle-class="toggle-calm"
                            ng-disabled="true">
                    Was food clean or wrapped?
                </ion-toggle>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Comments</span>
                    <textarea   name="notes"
                                ng-model="form.notes"
                                placeholder="Comments about safety, condition, convenience, or anything else"
                                rows="2"
                                disabled>
                    </textarea>
                </label>
                <div class="item item-input item-floating-label">
                    <span class="input-label">Where is it?</span>
                    <div class="flex">
                        <input  type="search"
                        class="flex-item"
                        name="place"
                        ng-model="form.place"
                        placeholder="Where is it?"
                        disabled
                        >
                    </div>
                </div>
            </form>
        </div>

        <div id="mapContainer">
            <ui-gmap-google-map
                 center="map.center"
                 options="map.options"
                 zoom="map.zoom">
                <ui-gmap-marker
                    coords="map.position.coords"
                    idkey="'map.position.id'"
                    icon="map.position.icon"
                    options="map.position.options">
                </ui-gmap-marker>
                <ui-gmap-marker
                    coords="map.search.coords"
                    idkey="'map.search.id'"
                    options="map.markers.options">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>

        <canvas ng-show="gotTemps" id="line" class="chart chart-line" chart-data="tempData"
                chart-labels="tempLabels" chart-series="tempSeries" chart-options="tempOptions"
                chart-dataset-override="datasetOverride">
        </canvas>

        <div id="still-active-button">
            <button class="button button-full button-small button-dark" ng-click="showActiveQuestion()">
                Report this as inactive
            </button>
        </div>
    </ion-content>
</ion-view>
