exports.HOSTNAME        = "";
exports.PORT            = 0;
exports.APIPATH         = ""
exports.USERNAME        = "";
exports.PASSWORD        = "";
exports.DATABASE        = "";

exports.WU_API          = "";

exports.CLOUD_NAME      = "";
exports.CLOUD_KEY       = "";
exports.CLOUD_SECRET    = "";
